.App {
  width: 100vw;
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.App header {
  height: 10%;
  padding: 20px;
  box-sizing: border-box;
}

.App header h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
  align-self: center;
  vertical-align: middle;
}

.ProductListContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90%;
  padding: 10px;
}

.ProductListContainer .buttonOne {
  max-width: 200px;
  align-self: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 10px;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.ProductListContainer .buttonOne:hover {
  transform: translateY(-1px);
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.ProductTable {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 1.6rem;
  white-space: nowrap;
  vertical-align: top;
  background-color: #ffffff;
}

.ProductTable th  {
  color: #1b1b32;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .2px;
  text-align: left;
  text-transform: uppercase;
  background-color: #dfdfe2;
  border: #dfdfe2 1px solid;
  padding: 6px 12px;
}

.ProductTable td {
  padding: 6px 12px;
  border: #dfdfe2 1px solid;
}
@media(max-width: 400px) {
  .ProductTable th, .ProductTable td {
    font-size: 60%;
  }
}